body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

.navbar-toggler{
  background-color: grey;
  display: none;
}
#nav-item{
  background-color: grey;
  font-size: 1.7em;
}
 .navbar,.bg-dark,.navbar-dark{
  padding:0;
  background-color: #ff0000;
 }
 .navbar-brand{
  padding-left: 35px;
 }
 .navbar-toggler{
  margin-right: 25px;
 }

section{
  margin-top: 20px;
  border: 1px solid green;
  background-color: #d7117a;
  width:100%;
}
section>p{
  padding: 15px 15px 15px 15px;
}
.nav-item{
  border-bottom: 1px solid lightgrey;
}
.navbar-nav{
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
/** SMALL Devices only **/
@media (min-width: 300px) and (max-width:767px) 
{
  .navbar-toggler{
    display: inline-block;
  }
}
}
